@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  color: black;
}
.header .header__navbar {
  justify-content: space-between;
  padding: 10px 0;
}
.header__left {
  gap: 20px;
}
.header__logo {
  width: 200px;
}
.header__logo img {
  width: 100%;
}
@media screen and (max-width: 550px) {
  .header__logo {
    width: 150px;
  }
}
.header__input form {
  position: relative;
}
.header__input form input {
  position: relative;
  outline: none;
  width: 500px;
  height: 20px;
  padding: 20px;
  border: 1.5px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
}
.header__input form #search_icon {
  position: absolute;
  right: 2%;
  top: 25%;
  z-index: 1;
  color: #CCCCCC;
}
@media screen and (max-width: 1300px) {
  .header__input form {
    display: none;
  }
}
.header__right {
  gap: 40px;
}
.header__list {
  gap: 20px;
}
.header__list__item {
  padding: 6px 0;
}
.header__item {
  padding: 4px 0;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
  font-weight: 600;
}
.header__item:hover {
  border-color: #F72585;
  color: #F72585;
}
.header__btns {
  display: flex;
  gap: 20px;
}
.header__login {
  padding: 8px 20px;
  border: 1.5px solid black;
  border-radius: 8px;
  background: transparent;
  font-size: 16px;
  color: black;
  transition: 0.4s;
}
@media screen and (max-width: 550px) {
  .header__login {
    font-size: 12px;
    padding: 6px 12px;
  }
}
@media screen and (max-width: 450px) {
  .header__login {
    display: none;
  }
}
.header__login:hover {
  background: #F72585;
  border: 1.5px solid #F72585;
  color: white;
}
.header__sign {
  padding: 8px 20px;
  border: 1.5px solid black;
  border-radius: 8px;
  background: transparent;
  font-size: 16px;
  color: black;
  transition: 0.4s;
}
@media screen and (max-width: 550px) {
  .header__sign {
    font-size: 12px;
    padding: 6px 12px;
  }
}
@media screen and (max-width: 450px) {
  .header__sign {
    display: none;
  }
}
.header__sign:hover {
  background: #F72585;
  border: 1.5px solid #F72585;
  color: white;
}
.header__hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.header__hamburger span {
  width: 10px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

@media (max-width: 800px) {
  .header__list {
    position: fixed;
    top: 0;
    left: -100%;
    background: white;
    width: 60%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px #F72585;
    transition: 0.4s;
    z-index: 9999;
  }
  .header__hamburger {
    display: flex;
    border: none;
    background-color: transparent;
  }
  .header__show-list {
    left: 0;
  }
}
.dropdown {
  position: relative;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}
.dropdown__text {
  font-size: 16px;
  font-weight: 500;
}
.dropdown__icon {
  font-size: 14px;
  display: inline-block;
  transition: 0.8s;
}
.dropdown__list {
  position: absolute;
  background: white;
  width: 100%;
  top: 110%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: scale(0);
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.dropdown__list__item {
  border-radius: 2px;
  padding: 5px;
}
.dropdown__list__item:hover {
  background: #F72585;
  color: white;
}
.dropdown:hover .dropdown__list {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.dropdown:hover .dropdown__icon {
  transform: rotateX(180deg);
}

.show__dropdown__list {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.hero__container {
  padding: 30px;
  background: url(../images/Background.png) left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
}

.hero__left {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 30px;
}
.hero__title {
  color: white;
  font-size: 44px;
  width: 100%;
}
.hero__desc {
  color: white;
  width: 100%;
}
.hero__bottom {
  display: flex;
  gap: 30px;
}
.hero .hero__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  width: 95%;
  border: transparent;
  border-radius: 10px;
}
.hero .hero__search button {
  padding: 8px 20px;
  border: 1.5px solid black;
  border-radius: 8px;
  background: transparent;
  font-size: 16px;
  color: black;
  transition: 0.4s;
}
.hero .hero__search button:hover {
  background: #F72585;
  border: 1.5px solid #F72585;
  color: white;
}
.hero #icon {
  color: black;
}
.hero__form input {
  border: none;
  outline: none;
}

.hero__right {
  background: url(../images/hgb.jpg) center;
  position: relative;
  width: 40%;
  height: 600px;
  padding: 10x;
  border-radius: 20px;
  background: #E6E6E6;
}
.hero__right div {
  width: 100px;
}
.hero__bell {
  position: absolute;
  top: 10%;
  left: 15%;
}
.hero__love {
  position: absolute;
  left: 5%;
  bottom: 30%;
}
.hero__verf {
  position: absolute;
  right: 2%;
  bottom: 40%;
}
.hero__total {
  position: absolute;
  right: 25%;
  bottom: 5%;
}
@media screen and (max-width: 1200px) {
  .hero .hero__container {
    flex-direction: column-reverse;
    height: 1200px;
    background: black;
    justify-content: center;
    gap: 30px;
  }
  .hero .hero__right {
    margin-top: 0;
    width: 70%;
  }
  .hero .hero__left {
    width: 70%;
  }
}
@media screen and (max-width: 710px) {
  .hero .hero__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .hero .hero__search {
    display: none;
  }
}

.courses .ap-tab-list {
  display: flex;
  padding: 100px 0;
  justify-content: space-around;
}
.courses .ap-tab-list a {
  color: #CCCCCC;
  font-size: 16px;
  padding: 8px 16px;
  border: transparent;
  border-radius: 15px;
  background: transparent;
  transition: 0.4s;
}
.courses .ap-tab-list a:hover {
  color: white;
  background: #F72585;
}
.courses__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.courses__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 20px;
}
.courses__card__img img {
  width: 100%;
  border-radius: 5px;
}
.courses__card__info {
  position: relative;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  gap: 20px;
}
.courses__card__desc {
  top: -10%;
  left: 30%;
  position: absolute;
  padding: 8px 10px;
  background: #4586D6;
  border-radius: 15px;
}
@media screen and (max-width: 1200px) {
  .courses__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .courses__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.categories {
  padding: 30px 0px;
}
.categories__title {
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  padding: 30px 0px;
}
.categories__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.categories__cards img {
  width: 100%;
}
.categories__card {
  background-image: url(../../../images/art-design.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 20px;
}
.categories h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-top: 200px;
  color: white;
}
@media (max-width: 1200px) {
  .categories__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .categories__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .categories__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.about {
  padding: 100px 0;
}
.about__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mentor__left {
  width: 50%;
}
.mentor__left img {
  border-radius: 20px;
  width: 100%;
}
.mentor__right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mentor__right h2 {
  font-size: 38px;
}
.mentor__right p {
  color: #CCCCCC;
}
.mentor__right button {
  max-width: 150px;
  padding: 10px 20px;
  border: 1.5px solid black;
  border-radius: 8px;
  background: transparent;
  font-size: 16px;
  color: black;
  transition: 0.4s;
}
.mentor__right button:hover {
  background: #F72585;
  border: 1.5px solid #F72585;
  color: white;
}
@media screen and (max-width: 800px) {
  .mentor__left {
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .mentor__right {
    width: 70%;
    justify-content: center;
    margin: 0 auto;
  }
}

.item {
  width: 100%;
  display: flex;
}

.carusel__left {
  width: 50%;
}
.carusel__left img {
  width: 100%;
}

.company__title {
  padding: 50px 0;
  font-size: 45px;
  text-align: center;
}
.company__partners {
  display: flex;
  justify-content: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.blog__title {
  font-size: 50px;
  padding: 50px 0;
}
.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}
.blog__card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog__card img {
  width: 100%;
  border-radius: 20px;
}
.blog__card:hover {
  box-shadow: 0px 0px 10px grey;
}
.blog__card__info {
  display: flex;
  flex-direction: column;
}
.blog__card__info p {
  color: #CCCCCC;
}
.blog__card__info h3 {
  width: 80%;
}
.blog__card__info a {
  color: #F72585;
}
@media screen and (max-width: 1200px) {
  .blog__cards {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .blog__cards {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.footer {
  padding: 80px 0;
  background: #021934;
}
.footer__top {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}
.footer__top__left {
  max-width: 500px;
}
.footer__desc {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
}
.footer__top__right {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.footer__title {
  padding-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.footer__item {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 8px;
  transition: 0.5s;
}
.footer__item:hover {
  color: #F72585;
}
.footer__bottom {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer__bottom__left {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.footer__bottom__desc {
  font-size: 16px;
  line-height: 27px;
  color: white;
  opacity: 0.8;
}

@media (max-width: 1290px) {
  .footer__top {
    gap: 30px;
  }
  .footer__top__left {
    width: 90%;
  }
  .footer__top__left p {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .footer__top__right {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  .footer__bottom {
    gap: 20px;
  }
}
@media (max-width: 370px) {
  .footer {
    padding: 20px 0;
  }
  .footer__bottom, .footer__bottom__left {
    gap: 20px;
  }
}