.hero__container{
    // margin-top: 100px;
    padding: 30px;
    background: url(../images/Background.png) left ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;

}

.hero{
// padding-top: 100px;
&__left{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
}
&__title{
    color: $secondaryCl;
    font-size: 44px;
    width: 100%;
}
&__desc{
    color: $secondaryCl;
    width: 100%;
}
&__bottom{
    display: flex;
    gap: 30px;
}
.hero__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: $secondaryCl;
    width: 95%;
    border: transparent;
    border-radius: 10px;
    button{
        padding: 8px 20px;
            border: 1.5px solid $primaryCl;
            border-radius: 8px;
            background: transparent;
            font-size: 16px;
            color: $primaryCl;
            transition: 0.4s;
    }
    button:hover{
        background: $hoverCl;
            border: 1.5px solid $hoverCl;
            color: $secondaryCl;
    }
}
#icon{
    color: $primaryCl;
}
&__form{

    input{
        border: none;
        outline: none;
    }
   
}
}

.hero{
    
    &__right{
        background: url(../images/hgb.jpg) center;
        position: relative;
        // margin-top:14%;
        width: 40%;
        height: 600px;
        padding: 10x;
        border-radius: 20px;
        background: #E6E6E6;
        div{
            width: 100px;
        }
    }
    &__bell{
        position: absolute;
        top: 10%;
        left: 15%;
    }
    &__love{
        position: absolute;
        left:5%;
        bottom:30%
    }
    &__verf{
        position: absolute;
        right: 2%;
        bottom: 40%;
    }
    &__total{
        position: absolute;
        right: 25%;
        bottom: 5%;
    }
    @media screen and (max-width:1200px) {
        .hero__container{
            flex-direction: column-reverse;
            height: 1200px;
            background: black;
            justify-content: center;
            gap: 30px;
        }
        .hero__right{
            margin-top: 0;
            width: 70%;
        }
        .hero__left{
            width: 70%;
        }
    }
    @media screen and (max-width:710px) {
        .hero__bottom{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    @media screen and (max-width:550px) {
        .hero__search{
            display: none;
        }
    }

}
